@tailwind base
@tailwind components
@tailwind utilities

@font-face
	font-family: BYekan
	src: url(../public/fonts/Yekan.ttf)

@font-face
	font-family: BTraffic
	src: url(../public/fonts/BTraffic.ttf)

*
	font-family: 'Montserrat', sans-serif
	-webkit-tap-highlight-color: transparent

[dir=rtl] *:not(.material-icons, .notyekan *)
	font-family: BYekan

.traffic[dir=rtl]
	font-family: BTraffic

@media (min-width: 1024px)
	main
		height: calc(100vh - 5rem)
