@media (prefers-color-scheme: dark) {
	.ActiveLink:after {
		background: #e2e8f0;
	}

}

@media (prefers-color-scheme: light) {
	.ActiveLink:after {
		background: #334155;
		
	}
}

.NavLink:after {
	content: '';
	display: block;
	width: 0%;
	margin: auto;
	margin-top: 10px;
	height: 2px;
	border-radius: 1px;
	transition: .3s;
}

.NavLink {
	margin-top: 12px;
	transition: color .3s;
	-webkit-touch-callout: none;
}

.ActiveLink:after {
	width: 50%;
}

.NavLink:active:after {
	width: 50%;
}
